<!DOCTYPE html>
<html>
  <head>
    <title>Form to collect email, sender, body of email, and folder</title>
      <link rel="stylesheet" type="text/css" href="style.css">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>Form to collect email, sender, body of email, and folder</h1>
    <form action="/submit" method="post" enctype="multipart/form-data">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email"><br><br>

      <label for="email_password">Email Password:</label>
      <input type="text" id="email_password" name="sender"><br><br>

      <label for="body">Body of Email:</label>
      <textarea id="body" name="body"></textarea><br><br>

      <label for="folder">Folder:</label>
      <input type="file" id="folder" name="folder"><br><br>

      <input type="submit" value="Submit">
    </form>
  </body>
</html>



